<header class="w-full px-8 py-5 sticky">
  <nav class="flex flex-row items-center justify-between bg-base-100">
    <div>
      <div class="flex-none md:hidden">
        <%= render Buttons::ButtonComponent.new(type: :button, url_path: nil, color: :ghost, class_name: "btn-square", html_options: { type: "button" }) do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        <% end %>
      </div>
      <%= link_to root_path, class: "flex flex-row justify-center items-center gap-1" do %>
        <img class="size-12"  alt="logo" src="<%= path_to_asset "logo/app.svg" %>">
        <h1 class="text-xl">Template</h1>
      <% end %>
    </div>
    <div class="flex flex-row items-center gap-1">
      <%# if user_signed_in? %>
      <%#= render Buttons::ButtonComponent.new(type: :link, url_path: destroy_user_session_path, color: nil, class_name: "hidden md:inline-flex", html_options: { data: { turbo_method: :delete }}).with_content("Logout") %>
      <%# else %>
      <%#= render Buttons::ButtonComponent.new(type: :link, url_path: new_user_session_path, color: nil, class_name: "hidden md:inline-flex").with_content("Login") %>
      <%# end %>
    </div>
  </nav>
</header>
