<div class="collapse collapse-plus">
    <input id="feature1" type="radio" name="features" class="peer" checked="checked" />
    <label for="feature1" class="collapse-title text-lg text-left font-medium text-base-content peer-checked:text-primary">
        Click to open this one and close others
    </label>
    <div class="collapse-content text-left">
        <p>hello</p>
    </div>
    </div>
    <div class="collapse collapse-plus">
    <input id="feature2" type="radio" name="features" class="peer" />
    <label for="feature2" class="collapse-title text-lg text-left font-medium peer-checked:text-primary text-base-content">
        Click to open this one and close others
    </label>
    <div class="collapse-content text-left">
        <p>hello</p>
    </div>
    </div>
    <div class="collapse collapse-plus ">
    <input id="feature3" type="radio" name="features" class="peer" />
    <label for="feature3" class="collapse-title text-lg text-left font-medium peer-checked:text-primary text-base-content">
        Click to open this one and close others
    </label>
    <div class="collapse-content text-left">
        <p>hello</p>
    </div>
</div>
