<div class="px-8 py-8 lg:py-32 flex flex-col gap-6 md:gap-8 justify-center items-center text-center">
    <h2 class="text-center text-5xl font-extrabold">sit amet consectetur adipisicing elit.</h2>
    <p class="max-w-xl mx-auto text-lg opacity-80 leading-relaxed">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint voluptate distinctio quo harum ipsam qui odio assumenda molestiae nobis eos, delectus officia praesentium repellendus quae, tempora alias voluptatibus similique maxime?</p>
</div>
